@import url('../../assets/estilos/globales.css');

.header{
    background-color: #212529;
}
.header h2 {
    color: var(--blanco);
}
#cerrarSesion{
    color:var(--negro)
}
#cerrarSesion:hover{
    cursor: pointer;
}