:root{
    --primary:#067EB2;
    --secondary: #000032;
    --third:#2B2B4B;
    --quarter:#C2D83E;
    --letras: #FFFF;
}

.dashboard{
    width: 100%;
    height: 100vh;
    background-color: var(--secondary);

}
.header{
    width: 100%;
    height: 6vh;
    background-color: var(--third);
}
.body{
    width: 100%;
    height: 94vh;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bodySection{
    width: 65%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuser{
    width: 100%;
    height: 20%;
    background-color: var(--third);
    border-radius: 20px;
    color: var(--letras) ;
    display: flex;
    align-items: center;
    padding: 10px;
}
.menu-items{
    width: 100%;
    height: 76%;
    background-color: var(--third);
    border-radius: 20px;
}
.estado{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--quarter);
    margin-right: 10px;
}
.cont-estado{
    display: flex;
    align-items: baseline;
    margin-top: -15px;
}
.userInfo{
    margin-left: 10px;
    padding-top: 20px;
}
.bodyHeader{
    width: 100%;
    height: 20%;
    background-color: var(--third);
    border-radius: 20px;
}
.bodygraficas{
    width: 100%;
    height: 36%;
    display: flex;
    justify-content: space-between;
}
.bodyreportefinal{
    width: 48%;
    height: 100%;
    background-color: var(--third);
    border-radius: 20px;
}
.bodyreportefinalderecha{
    width: 48%;
    height: 100%;
    background-color: var(--third);
    border-radius: 20px;
}
.bodyform{
    width: 100%;
    height: 36%;
    background-color: var(--third);
    border-radius: 20px;
}